@model List<GetCartViewModel>
@section Header{
<title>[Shope name] - سبد خرید</title>
}
@{
    var check = Model != null && Model.Count > 0;
    var totalprice = 0;
    if (check)
    {
        totalprice = Model.Select(m => m.Price * m.Count).Sum();
    }
}
@section Nav {
<partial name="_NavbarShadow" />
}

<div class="u-s-p-y-60">
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">
                            <a href="/">خانه</a>
                        </li>
                        <li class="has-separator">
                            <a href="/Account">حساب کاربری</a>
                        </li>
                        <li class="is-marked">
                            <a href="/Account/cart">سبد خرید</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-s-p-b-60">
    <div class="section__intro u-s-m-b-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h1 class="section__heading u-c-secondary">سبد خرید</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="row">
                @if (check)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30 table-p">
                        @foreach (var item in Model)
                        {
                            <form class="row u-s-m-b-5" method="POST" action="/Account/UpdateCart">
                                <input type="hidden" name="Id" value="@item.Id">
                                <div class="col-lg-6 col-md-6 col-sm-12 table-cart-item">
                                    <img class="h-200 w-200 u-s-m-l-4" src="@item.ImageName" alt="@item.AltImage" />
                                    <span class="table-p__name u-s-m-r-5">
                                        <a href="product-detail.html" class="u-s-m-r-5">@item.Title</a>
                                    </span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 table-cart-item">
                                    <span class="table-p__price">@item.Price</span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 table-cart-item">
                                    <div class="table-p__input-counter-wrap">
                                        <div class="input-counter">
                                            <span class="input-counter__minus fas fa-minus"></span>
                                            <input class="input-counter__text input-counter--text-primary-style" type="number"
                                        value="@item.Count" data-min="1" data-max="@item.Quentity" name="Count" />
                                            <span class="input-counter__plus fas fa-plus"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 table-cart-item">
                                    <div class="table-p__del-wrap">
                                        <a class="far fa-trash-alt table-p__delete-link" data-tooltip="tooltip"
                                    data-placement="left" title="" data-original-title="حذف" href="/Account/DeleteCart/@item.Id"></a>
                                    </div>
                                    <div class="table-p__del-wrap">
                                        <button class="fas fa-sync table-p__delete-link" data-tooltip="tooltip"
                                    data-placement="left" type="submit" title="" data-original-title="به روز رسانی"
                                    href="#"></button>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                    <div class="col-lg-12">
                        <div class="route-box">
                            <div class="route-box__g2">

                                <a class="route-box__link" href="/Account/DeleteCart">
                                    <span>حذف آیتم ها</span>
                                    <i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                        <div class="alert-error">سبد خرید شما خالی است</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (check)
{
    <div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                    <div class="f-cart">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 u-s-m-b-30">
                                <div class="f-cart__pad-box">
                                    <div class="u-s-m-b-30">
                                        <table class="f-cart__table">
                                            <tbody>
                                                <tr>
                                                    <td>حمل و نقل</td>
                                                    <td>20,000 ت</td>
                                                </tr>
                                                <tr>
                                                    <td>کالاها</td>
                                                    <td>@totalprice.ToString("#,0") ت</td>
                                                </tr>
                                                <tr>
                                                    <td>جمع کل</td>
                                                    <td>@((totalprice + 20000).ToString("#,0")) ت</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <a href="/Account/Checkout" class="btn btn--e-brand-b-2">ادامه ی پرداخت</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}