<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/images/favicon.png" rel="shortcut icon">
    @RenderSection("Header" , false)
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">
            <img class="preloader__img" src="/images/preloader.png" alt="">
        </div>
    </div>

    <div id="app">
        @RenderSection("Nav", false)
        <div class="app-content">
            @RenderSection("Slider", false)
            @RenderBody()
        </div>
        <footer>
            <div class="outer-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="outer-footer__content u-s-m-b-40">
                                <span class="outer-footer__content-title">vhi ihd hvjfhxd</span>
                                <div class="outer-footer__text-wrap">
                                    <i class="fas fa-home"></i>

                                    <span>4247 Ashford Drive Virginia VA-20006 USA</span>
                                </div>
                                <div class="outer-footer__text-wrap">
                                    <i class="fas fa-phone-volume"></i>

                                    <span>09130000000</span>
                                </div>
                                <div class="outer-footer__text-wrap">
                                    <i class="far fa-envelope"></i>

                                    <span>contact@domain.com</span>
                                </div>
                                <div class="outer-footer__social">
                                    <ul>
                                        <li>
                                            <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="s-youtube--color-hover" href="#">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="s-insta--color-hover" href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="s-gplus--color-hover" href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="outer-footer__content u-s-m-b-40">
                                        <span class="outer-footer__content-title">دسترسی سریع</span>
                                        <div class="outer-footer__list-wrap">
                                            <ul>
                                                <li>
                                                    <a href="cart.html">سبد خرید</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard.html">حساب کاربری</a>
                                                </li>

                                                <li>
                                                    <a href="dash-payment-option.html">ورود</a>
                                                </li>
                                                <li>
                                                    <a href="shop-side-version-2.html">ثبت نام</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="outer-footer__content u-s-m-b-40">
                                        <div class="outer-footer__list-wrap">
                                            <span class="outer-footer__content-title">شرکت ما</span>
                                            <ul>
                                                <li>
                                                    <a href="about.html">درباره ی ما</a>
                                                </li>
                                                <li>
                                                    <a href="contact.html">تماس با ما</a>
                                                </li>
                                                <li>
                                                    <a href="index-3.html">نقشه ی سایت</a>
                                                </li>
                                                <li>
                                                    <a href="dash-my-order.html">تحویل بسته</a>
                                                </li>
                                                <li>
                                                    <a href="shop-side-version-2.html">فروشگاه</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="outer-footer__content">
                                <span class="outer-footer__content-title">جدیدترین اخبار را دریافت کنید</span>
                                <form class="newsletter">

                                    <div class="newsletter__group">
                                        <label for="newsletter"></label>

                                        <input class="input-text input-text--only-white" type="text" id="newsletter"
                                               placeholder="آدرس ایمیل شما" />

                                        <button class="btn btn--e-brand newsletter__btn" type="submit">
                                            ارسال
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="lower-footer__content">
                                <div class="lower-footer__copyright">
                                    <span>Copyright © 2018</span>

                                    <a href="/">Reshop</a>

                                    <span>All Right Reserved</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/js/vendor.js"></script>

    <script src="/js/jquery.shopnav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/app.js"></script>

    @RenderSection("Footer", false)
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">
                                Please enable JavaScript in your browser or upgrade to a
                                JavaScript-capable browser.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>

</html>